
body {
  background-image: url(https://s.yimg.com/cd/resizer/FIT_TO_WIDTH-w500/7bfcb235e1d48f17fd3c28925bb286946b30d0c7);
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
}
#box {
  width: 60000px;
} 